:root {
    --font-primary: "Playfair Display";
    --color-primary: #1e1f22;
    --color-secondary: #2b2d30;
    --color-accent: #41367c;
    --color-text-primary: #eaeaea;
}

html, body {
    height: 100dvh;
}

body {
    margin: 0;
    padding: 0;
    background: var(--color-primary);
    color: var(--color-text-primary);
    font-family: var(--font-primary), serif;
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: column;
    flex: 1; /* Allow it to take up available space */
    justify-content: start;
    align-items: center;
    margin-top: 3rem;
}

@media (max-width: 600px) {
    #container {
        margin-top: 1rem;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto; /* Pushes footer to the bottom */
    padding-bottom: 25px;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem;
    }
}

h3 {
    font-size: 1.25rem;
    margin: 0 0 0.5rem;
}

p {
    max-width: 1280px;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
    text-align: center;
}

img {
    margin: 1rem;
}

@media (max-width: 600px) {
    img {
        margin: 0.5rem;
    }
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    text-align: center;
    font-size: 0.9rem;
}

button {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background: var(--color-accent);
    color: var(--color-text-primary);
    font-size: 1.5rem;
    font-family: var(--font-primary), serif;
    margin: 2rem;
}

@media (max-width: 600px) {
    button {
        margin: 1rem;
    }
}

button:hover {
    filter: brightness(110%);
}
